<!doctype html>
<html>
  <head>
    <title>Wormallies: picutring your passive social media interaction</title>
  </head>
  <body>
    <div class="box">
      <div>
        <h1>Wormallies</h1>
        <h2>A rendition of the classic Snake</h2>
      </div>

      <div class="game">
        <div class="score">
          <span class="value">
          </span>
        </div>
        <div class="screen">
          <canvas id="wormallies"></canvas>
          <div class="overlay"></div>
          <div class="overlay-start">
            <span>
              Press any directional key to start a new game
            </span>
          </div>
          <div class="overlay-dead">
            <span class="message">OH snap!</span>
            <span class="score"></span>
          </div>
        </div>
      </div>

      <div class="about">
        <span>

        </span>
      </div>
    </div>

    <%= require('html-loader!./src/partials/forkme.html') %>
    <script src="main.js"></script>
    <%= require('html-loader!./src/partials/google.html') %>
  </body>
</html>
