<!doctype html>
<html>
  <head>
    <title>Wormallies: picutring your passive social media interaction</title>
  </head>
  <body>
    <canvas id="wormallies"></canvas>
    <script src="main.js"></script>
  </body>
</html>
