@import "~normalize.css/normalize.css";

@font-face {
  font-family: 'Archivo Black';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../fonts/Montserrat-Thin.ttf') format('ttf');
}

.screen {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff3cd;
}

.box {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-family: 'Archivo Black', sans-serif;
  color: #4d3e3e;
}

.box h2 {
  color: #ffc38b;
}

.game {
  margin-top: 40px;
}

.game .score {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 22px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  color: #4d3e3e;
}
